name: Build .NET 48 libraries

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    # Prepare
    - name: Prepare intermediate directory
      run: mkdir _libraries\net48

    # Build the libraries one after the other

    - name: Restore packages for main utility library
      run: msbuild utils\net48\SpringCard.LibCs.sln /target:Restore

    - name: Build main utility library
      run: msbuild utils\net48\SpringCard.LibCs.sln /target:Build /property:Configuration=Release /property:PostBuildEvent=

    - name: Copy to intermediate directory
      run: xcopy /s /e /y _output\net48 _libraries\net48

    - name: Restore packages for Windows utility library
      run: msbuild utils\net48\SpringCard.LibCs.Windows.sln /target:Restore

    - name: Building Windows utility library
      run: msbuild windows\net48\SpringCard.LibCs.Windows.sln /target:Build /property:Configuration=Release /property:PostBuildEvent=

    - name: Copy to intermediate directory
      run: xcopy /s /e /y _output\net48 _libraries\net48

    - name: Restore packages for Bluetooth library
      run: msbuild utils\net48\SpringCard.Bluetooth.sln /target:Restore

    - name: Building Bluetooth library
      run: msbuild bluetooth\net48\SpringCard.Bluetooth.sln /target:Build /property:Configuration=Release /property:PostBuildEvent=

    - name: Copy to intermediate directory
      run: xcopy /s /e /y _output\net48 _libraries\net48

    - name: Restore packages for PC/SC library
      run: msbuild utils\net48\SpringCard.PCSC.sln /target:Restore

    - name: Building PC/SC library
      run: msbuild pcsc\net48\SpringCard.PCSC.sln /target:Build /property:Configuration=Release /property:PostBuildEvent=

    - name: Copy to intermediate directory
      run: xcopy /s /e /y _output\net48 _libraries\net48
      
    - name: Restore packages for PC/SC helper libraries
      run: msbuild utils\net48\SpringCard.PCSC-Helpers.sln /target:Restore     

    - name: Building PC/SC helper libraries
      run: msbuild pcsc-helpers\net48\SpringCard.PCSC-Helpers.sln /target:Build /property:Configuration=Release /property:PostBuildEvent=

    - name: Copy to intermediate directory
      run: xcopy /s /e /y _output\net48 _libraries\net48
